body{
    background: purple;

}

.container{
    height: 330px;
    width: 100px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    background: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border: 2px solid black;
    box-shadow: 0 0 8px 3px white;

}

.title {
    padding-top: 10px;
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    color: blue;
}