body{
    background: purple;

}

.container{
    height: 450px;
    width: 500px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border: 2px solid black;
    box-shadow: 0 0 8px 3px white;

}

.title {
    padding-top: 10px;
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    color: Black;
}

.question {
    padding: 20px;
    font-size: 22px;
    background:lavender;
    border-radius: 20px;
    margin: 10px 0 10px 0;
    color: blue;

}

.option {
    width: 470px;
    display: inline-block;
    padding: 10px 0 10px 15px;
    vertical-align: middle;
    background: rgba(255, 255, 255, 0.5);
    margin: 10px 0 10px 10px;
    color: blue;
    border-radius: 20px;
}

.option:hover {
    background: mediumslateblue;
    color:orange;
}

.nextBtn  {
    border: none;
    outline: none;
    background: mediumslateblue;
    width: 100px;
    height: 35px;
    border-radius: 20px;
    cursor: pointer;
    float: right;
    margin:10px;
}



.nextBtn:hover {
    background: red;
    color: lavender;
}

.result {
    height: 100px;
    text-align: center;
    font-size: 75px;

}



.option input:checked .option{
    background: aquamarine;
    color: lavender;
}

.gameover {
    height: 100px;
    
    text-align: center;
    font-size: 75px;
}


